[Unit]
Description=Check if URLs are down
OnFailure=email-status@%n.service

[Service]
Type=oneshot
ExecStart=/home/sd/bin/godown /home/sd/.config/godown/config.json
