[Unit]
Description=Check if URLs are down
OnFailure=email-status@%n.service

[Service]
Type=oneshot
ExecStart=%h/bin/godown %h/.config/godown/config.json